{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "plugins": [
    "html"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
